# After updating this file, run `pip-compile` to update requirements.txt.

psycopg2                    # postgres connector
werkzeug                    # for its utilities

# Django stuff
Django==1.11.2
django-nested-inline

# Admin stuff
pip-tools==1.9.0            # freeze requirements.txt
Fabric3==1.13.1.post1       # project automation

# Testing
pytest-django==3.1.2        # testing
pytest-xdist==1.16.0        # run tests in parallel with pytest -n
flake8==2.5.4               # code linting
pytest-cov==2.5.1           # record code coverage
