{% extends "no-flex.html" %}

{% block content %}
<form id="payment_form" action="{{ post_to_url }}" method="post">
  <input type="hidden" name="access_key" value="{{ access_key }}">
  <input type="hidden" name="amount" value="{{ amount }}">
  <input type="hidden" name="currency" value="{{ currency }}">
  <input type="hidden" name="locale" value="{{ locale }}">
  <input type="hidden" name="payment_method" value="{{ payment_method }}">
  <input type="hidden" name="profile_id" value="{{ profile_id }}">
  <input type="hidden" name="reference_number" value="{{ reference_number }}">
  <input type="hidden" name="signed_date_time" value="{{ signed_date_time }}">
  <input type="hidden" name="signed_field_names" value="{{ signed_field_names }}">
  <input type="hidden" name="transaction_type" value="{{ transaction_type }}">
  <input type="hidden" name="transaction_uuid" value="{{ transaction_uuid }}">
  <input type="hidden" name="unsigned_field_names" value="{{ unsigned_field_names}}">

  <!-- Card information -->
  <!--
  <label>Card cvn:
    <input type="text" name="card_cvn" value="{{ card_cvn }}">
  </label>
  <label>Card Expiry Date:
    <input type="text" name="card_expiry_date" size="25" value="{{ card_expiry_date }}">
  </label>
  <label>Card number:
    <input type="text" name="card_number" size="25" value="{{ card_number }}">
  </label>
  <label>Card type:
    <input type="text" name="card_type" value="{{ card_type }}">
  </label>
  -->

  <!-- Billing information -->
  <!--
  <label>Bill to forename:
    <input type="text" name="bill_to_forename" value="{{ bill_to_forename }}">
  </label>
  <label>Bill to surname:
    <input type="text" name="bill_to_surname" value="{{ bill_to_surname }}">
  </label>
  <label>Bill to email:
    <input type="text" name="bill_to_email" value="{{ bill_to_email }}">
  </label>
  <label>Bill to address line1:
    <input type="text" name="bill_to_address_line1" value="{{ bill_to_address_line1 }}">
  </label>
  <label>Bill to address city:
    <input type="text" name="bill_to_address_city" value="{{ bill_to_address_city }}"/>
  </label>
  <label>Bill to address postal_code:
    <input type="text" name="bill_to_address_postal_code" value="{{ bill_to_address_postal_code }}">
  </label>
  <label>Bill to address state:
    <input type="text" name="bill_to_address_state" value="{{ bill_to_address_state }}">
  </label>
  <label>Bill to address country:
    <input type="text" name="bill_to_address_country" value="{{ bill_to_address_country }}">
  </label>
  -->

  <input type="hidden" name="signature" value="{{ signature }}">
  <button type="submit">Submit</button>
</form>
{% endblock content %}
