
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Perma.cc | Settings</title>

    <link type="text/css" href="https://perma.cc/static/bundles/global-styles.b6cf05da1b22.css" rel="stylesheet" />

    <style>
      .payment-form button {
        padding: 8px 8px 32px 24px;
        background-color: #F6F8F1;
        border-radius: 4px;
        padding: 16px 8px;
        border: 1px solid white;
        margin: 0;
      }
      .payment-form {
          display: inline-block;
      }
      .payment-form button {
          width: 100%;
          min-height: 200px;
          margin-right: 15px;
      }
      .payment-form button span {
        text-transform: uppercase;
        font-weight: bold;
        line-height: 2;
      }
    </style>

  </head>
  <body class="_admin">
    <header class="_default">
      <div class="navbar navbar-default navbar-static-top">
        <div class="container cont-fixed">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand logo">
              <a href="/">Perma.cc<img alt="" class="infinity-logo" src="https://perma.cc/static/img/perma-logo-orange.svg"></a>
            </div>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="navbar-create-button"><a href="#" role="button" class="btn btn-large btn-info navbar-create navbar-btn" data-toggle="tooltip" title="Create new Perma archive">Create and manage Perma Links</a>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle navbar-link needsclick" data-toggle="dropdown" role="button" aria-expanded="false">First Name</a>
                <ul class="dropdown-menu" role="menu">

                  <li><a href="#">Create and manage Perma Links</a></li>

                  <li class="divider"></li>

                  <li role="presentation" class="dropdown-header">Manage users</li>
                  <li><a href="#">Admin users</a></li>
                  <li><a href="#">Registrars</a></li>

                  <li><a href="#">Registrar users</a></li>
                  <li><a href="#">Organizations</a></li>
                  <li><a href="#">Organization users</a></li>
                  <li><a href="#">Users</a></li>

                  <li class="divider"></li>

                  <!-- Org users -->

                  <li><a href="#">Admin console</a></li>
                  <li><a href="#">Site stats</a></li>

                  <li class="divider"></li>

                  <li role="presentation" class="dropdown-header">Settings</li>
                  <li><a href="#">Profile</a></li>
                  <li><a href="#">Password</a></li>
                  <li><a href="#">Tools</a></li>
                  <li><a href="#">Upgrade</a></li>

                  <li class="divider"></li>

                  <li>
                      <button>Log out</button>
                  </li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/container -->
      </div><!--/navbar -->
    </header>

    <section id="main" class="">
      <div id="main-content" class="container cont-full-bleed">
        <div id="dashboard-container" class="container cont-full-bleed cont-sm-fixed-bleed">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12">
                <h1 class="page-title">Settings</h1>
              </div>
            </div> <!-- end row -->

            <div class="row admin-content">
              <div class="col-sm-3">

                <!-- Dashboard tabs -->
                <ul class="nav nav-pills nav-stacked">

                  <li><a href="#"><span>Profile</span></a></li>

                  <li><a href="#"><span>Password</span></a></li>

                  <li><a href="#"><span>Tools</span></a></li>

                  <li class="active"><a href="#"><span>Upgrade</span></a></li>

                </ul><!--/#dashboard-tabs-->
              </div><!--/col-sm-3-->

              <!-- Dashboard tab content -->
              <div class="col-sm-9">


                <h3 class="body-ah _hideMobile">Upgrade</h3>
                <p class="page-dek">Purchase Upgrade for Dewey, Cheatem &amp; Howe</p>

                <div class="row">

                  <form class="payment-form col-xs-12 col-md-4" method="post" action="{{ subscribe_url }}">
                    <button style="border-color: rgba(223,182,103,1);;"><span>Bronze</span><br>$2/month</button>
                    <input type="hidden" name="encrypted_data" value={{ data_bronze }}>
                  </form>

                  <form class="payment-form col-xs-12 col-md-4" method="post" action="{{ subscribe_url }}">
                    <button style="border-color: rgba(160,160,160,1);"><span>Silver</span><br>$4/month</button>
                    <input type="hidden" name="encrypted_data" value={{ data_silver }}>
                  </form>

                  <form class="payment-form col-xs-12 col-md-4" method="post" action="{{ subscribe_url }}">
                      <button style="border-color: rgba(242,215,50,1);"><span>Gold</span><br>$6/month</button>
                      <input type="hidden" name="encrypted_data" value={{ data_gold }}>
                  </form>
                </div>

              </div><!--/.tab-content-->
            </div>

          </div>
        </div><!--/#dashboard-container-->
      </div><!--/ #main-content"-->
    </section><!--/#main-->


    <footer>
      <div class="container cont-fixed">
        <div class="row">
          <div class="col col-md-7">
            <ul id="footer-nav">
              <li class="footer-nav-item"><a href="/about">About</a></li>
              <li class="footer-nav-item"><a href="/docs">Guide</a></li>
              <li class="footer-nav-item"><a href="/docs/developer">Developers</a></li>
              <li class="footer-nav-item"><a href="/stats">Stats</a></li>
              <li class="footer-nav-item"><a href="/contact">Contact</a></li>
              <li class="footer-nav-item"><a href="https://blogs.law.harvard.edu/perma/">Blog</a></li>
              <li class="footer-nav-item"><a href="https://twitter.com/permacc">Twitter</a></li>
              <li class="footer-nav-item"><a href="https://github.com/harvard-lil/perma">GitHub</a></li>
              <li class="footer-nav-item"><a href="https://status.perma.cc/">Status</a></li>
            </ul>
          </div>
          <div class="col col-md-5">
            <ul id="boilerplate">
              <li class="boilerplate-item"><a href="/terms-of-service">Terms of Service</a></li>
              <li class="boilerplate-item"><a href="/privacy-policy">Privacy Policy</a></li>
              <li class="boilerplate-item"><a href="/copyright-policy">Copyright Policy</a></li>
            </ul>
          </div>
        </div>
      </div><!--/container-->
    </footer>

    <script type="text/javascript" src="https://perma.cc/static/bundles/global.975e6d42826e.js" ></script>

  </body>
</html>
