{% extends "base.html" %}

{% block heading %}
  <h1 class="sr-only">Redirecting</h1>
{% endblock heading %}

{% block content %}
<form id="payment_form" action="{{ post_to_url }}" method="post">
  <input type="hidden" name="amount" value="{{ amount }}">
  <input type="hidden" name="access_key" value="{{ access_key }}">
  <input type="hidden" name="currency" value="{{ currency }}">
  <input type="hidden" name="locale" value="{{ locale }}">
  <input type="hidden" name="payment_method" value="{{ payment_method }}">
  <input type="hidden" name="profile_id" value="{{ profile_id }}">
  <input type="hidden" name="recurring_amount" value="{{ recurring_amount }}">
  <input type="hidden" name="recurring_frequency" value="{{ recurring_frequency }}">
  <input type="hidden" name="reference_number" value="{{ reference_number }}">
  <input type="hidden" name="signed_date_time" value="{{ signed_date_time }}">
  <input type="hidden" name="signed_field_names" value="{{ signed_field_names }}">
  <input type="hidden" name="transaction_type" value="{{ transaction_type }}">
  <input type="hidden" name="transaction_uuid" value="{{ transaction_uuid }}">
  <input type="hidden" name="unsigned_field_names" value="{{ unsigned_field_names}}">

  <input type="hidden" name="signature" value="{{ signature }}">
  <button class="btn-link" type="submit">If you are not redirected in a few seconds, please click here.</button>
</form>
{% endblock content %}

{% block scripts %}
  <script>
    document.getElementById("payment_form").submit();
  </script>
{% endblock scripts%}
