from .settings_dev import *
#from .settings_prod import *

SECRET_KEY = 'k2#@_q=1$(__n7#(zax6#46fu)x=3&^lz&bwb8ol-_097k_rj5'

# Payment provider credentials
PAYMENT_PROVIDERS['cybersource_legacy'].update({
    'access_key': 'TEST',
    'profile_id': 'TEST',
    'secret_key': 'TEST',
})
# PAYMENT_PROVIDERS['stripe'].update({
#     'secret_key': 'sk_test_xxx',
#     'publishable_key': 'pk_test_xxx',
#     'webhook_secret': 'whsec_xxx',
# })

# Our encryption key for storing full responses from payment providers
# generated using perma_payments.security.generate_public_private_keys
# SECURITY WARNING: keep the production vault secret key offline!
STORAGE_ENCRYPTION_KEYS = {
    'id': 3,
    'vault_public_key': 'base64encodedstring',
}

# Perma

PERMA_URL = 'https://url'
PERMA_SUBSCRIPTION_CANCELED_REDIRECT_URL = 'https://url'

# Encryption keys for communicating with Perma.cc
# generated using perma_payments.security.generate_public_private_keys
# SECURITY WARNING: keep the production secret key secret!
PERMA_ENCRYPTION_KEYS = {
    'id': 3,
    'perma_payments_secret_key': 'base64encodedstring',
    'perma_payments_public_key': 'base64encodedstring',
    'perma_public_key': 'base64encodedstring',
}

# Admin
ADMIN_URL = 'admin/'
