from .settings_dev import *

SECRET_KEY = 'k2#@_q=1$(__n7#(zax6#46fu)x=3&^lz&bwb8ol-_097k_rj5'

# CyberSource
CS_ACCESS_KEY = 'TEST'
CS_PROFILE_ID = 'TEST'
CS_SECRET_KEY = 'TEST'
CS_PAYMENT_URL = 'https://testsecureacceptance.cybersource.com/pay'

