from .settings_dev import *

SECRET_KEY = 'k2#@_q=1$(__n7#(zax6#46fu)x=3&^lz&bwb8ol-_097k_rj5'

# CyberSource
CS_ACCESS_KEY = 'TEST'
CS_PROFILE_ID = 'TEST'
CS_SECRET_KEY = 'TEST'

# Our encryption key for storing full responses from CyberSource
# generated using perma_payments.security.generate_public_private_keys
# SECURITY WARNING: keep the production vault secret key offline!
STORAGE_ENCRYPTION_KEYS = {
    'id': 3,
    'vault_public_key': 'base64encodedstring',
}

# Encryption keys for communicating with Perma.cc
# generated using perma_payments.security.generate_public_private_keys
# SECURITY WARNING: keep the production secret key secret!
PERMA_ENCRYPTION_KEYS = {
    'id': 3,
    'perma_payments_secret_key': 'base64encodedstring',
    'perma_payments_public_key': base64encodedstring,
    'perma_public_key': 'base64encodedstring',
}
PERMA_TIMESTAMP_MAX_AGE_SECONDS = 120


# Admin
ADMIN_URL = 'admin/'

