# Admin
pip-tools
invoke                      # project automation

# Database
psycopg2                    # postgres connector

# Django stuff
django~=3.2.0
django-nested-inline        # show all related record in the admin
django-polymorphic          # for model inheritance
django-simple-history       # tracks changes made to model instances

# Features
pynacl                      # encryption
python-dateutil             # for relativedelta and other utils
werkzeug                    # for its utilities

# Testing
flake8                      # code linting
flake8-mock                 # code linitng for tests
hypothesis                  # run tests with lots of generated input
mock                        # current mock version, not older bundled version
pytest
pytest-cov                  # record code coverage
pytest-django               # testing
pytest-factoryboy           # pop up model instances
pytest-mock                 # more powerful mocking
pytest-xdist                # run tests in parallel with pytest -n
